<div class="container">
  <div class="wrapper">
    <div class="user-info">
      <ul>
        <li>
        <h3>
            <%= current_user.first_name %>
            </h3>
        </li>
        <li>
        <h3>
            <%= current_user.last_name %>
            </h3>
        </li>
        <li>
        <h3>
            <%= current_user.email %>
            </h3>
        </li>
      </ul>
    </div>
    <div class="container">
    <div class="row">
      <% @hedgies.each do |hedgie| %>
      <div class="col-xs-6">
        <div class="name">
          <%= link_to hedgie.name , hedgy_path(hedgie) %>
        </div>
        <div class="photo">

          <% if hedgie.photos? %>
          <%= cl_image_tag hedgie.photos.first.path, width: 300, height: 200, crop: :fill %>
          <% end %>
        </div>
        <div class="description">
          <%= hedgie.description %>
        </div>
        <div class="list">
          <%= link_to "Edit", edit_hedgy_path(hedgie) %>
          <%= link_to "Delete", hedgy_path(hedgie),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
          <%= link_to "Add new hedgie", new_hedgy_path %>
        </div>
      </div>
      <div class="col-xs-6">
        <h1><%= hedgie.name %>'s Bookings</h1>

      </div>
      <% end %>
    </div>

  </div>
</div>







