<div class="container-fluid">
  <div class="row">
    <div class="hedgie-all">
      <div class="col-xs-6">
        <div class="all-hedgies">
          <form action="/hedgies" action="GET">
           <input type="text" name="address" id="search" >
           <input type="submit" value="Change city" class="btn btn-warning">
         </form>
       </div>

       <% @hedgies.each do |hedgie| %>
       <div class="small-card-container">
          <div class="col-xs-6 col-sm-6 col-sm-6">
         <div class="card-small" style="background-image: url('<%= !hedgie.photos.empty? ? cl_image_path(hedgie.photos.first.path, width: 350, height: 200, crop: :fill, class: "background-image") : "" ; %>')">
         <%= link_to "", hedgy_path(hedgie), class: "card-link" %>
        </div>
         <div class="card-footer-small">
          <%= hedgie.name %>
          <%= hedgie.address %>
        </div>
       </div>
      </div>
      <% end %>
    </div>

    <div class="col-xs-6">

      <div id="map" class="Fixed" style="width: 100%; height: 600px;">
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
});
<% end %>
<% end %>
</div>
</div>
</div>
</div>
</div>



