<h1>Book playtime with <%= @hedgy.name %></h1>
<%= simple_form_for([@hedgy, @booking]) do |f| %>
<%= f.input :start_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
<%= f.input :end_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y')} %>

<%= f.button :submit, class: "btn btn-primary" %>
<% end %>