<%= render 'shared/banner' %>


  <div class="container-fluid">
    <h1><strong>Trending Hedgehogs</strong></h1>

    <div class="row padded-margin">
      <% @hedgies.each do |hedgie| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path hedgie.photos, width: 400, height: 200, crop: :fill %>')">
         <div class="card-description">
          <% if hedgie.photos? %>
            <%= cl_image_tag hedgie.photos.first.path, width: 300, height: 200, crop: :fill %>
            <% end %>
        </div>
        <div class="card-info">
          <h3><%= link_to hedgie.name, hedgy_path(hedgie) %></h3>
          <h3>€ <%= hedgie.price %> per day</h3>
        </div>
        <a class="card-link" href="#"></a>
      </div>
    </div>
<% end %>
  </div>
</div>
