<div class="container"
<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for([@booking, @review]) do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.input :rating, priority: [1], collection: [ 1,2,3,4,5] %>
    <%= f.button :submit, 'Send!', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="col-xs-6">
    <%= @booking.hedgie.name %>
    <% if @booking.hedgie.photos? %>
    <%= cl_image_tag booking.hedgie.photos.first.path, width: 400, height: 300, crop: :fill, class: "photo" %>
    <% end %>

    <% @booking.reviews.each do |review| %>
    <div class="row">
      <div class="col-xs-2">
        <%= review.user.first_name %>
        <div class="rating">
          <%= review.rating %>
        </div>
      </div>
      <div class="col-xs-10">
        <%= review.content %>
      </div>
    </div>
    <% end %>
  </div>

</div>
</div>
