
<div class="review-container">
  <div class="row">
    <div class="review-layout">
      <div class="title">
        <h1>How was your cuddle time with <%= @booking.hedgie.name %>?</h1>
      </div>
      <div class="review-container">
      <% if @booking.hedgie.photos? %>
        <div class="col-xs-12 col-sm-4 playtime-card">
          <div class="review-img">
            <%= cl_image_tag @booking.hedgie.photos.first.path, width: 400, height: 300, crop: :fill, class: "photo" %>
          </div>
        </div>
        <% end %>
        <div class="review-info">
          <%= simple_form_for([@booking, @review]) do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.input :rating, priority: [1], collection: [ 1,2,3,4,5], to: :integer %>
          <%= f.button :submit, 'Send!', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

